.info-movie-selected{
    
    @include display-flex-creator($direction: row, $justify-content: center, $align-items: center);
    position:fixed;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100vh;
    background-color: $light-background-color;
    div{  
        @include card-especification();
        @include display-flex-creator($direction: column, $justify-content: center, $align-items: center); 
        aside{
            width: 60%;
            img{
                @include img($opacity: 100%, $margin-botton: 0, $width: 100%, $border-radius: $border-radius);
            }
        } 
        article{
            @include box-parameter($margin: 0, $padding: 0 10px 0 20px, $width: 40%);
            @include display-flex-creator($direction: column, $justify-content: space-between, $align-items: start); 
            div{
                @include box-parameter();
                @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: center);
                button{
                    @include button();
                    font-size: 30px;
                }
                button:hover{
                    color: $hover-color;
                }
            }
            .film-information{
                @include box-parameter($margin: 0);
                @include display-flex-creator($direction: row, $justify-content: start, $align-items: start); 
                section{
                    @include display-flex-creator($direction: column, $justify-content: start, $align-items: start);
                    margin-right: 40px; 
                }
            }
            .rating-score{
                @include box-parameter($margin: 0, $padding: 10px 0);
            }
        }
        .extra-information{
            @include box-parameter($margin: 0, $padding: 10px 10px 0 10px);
            @include display-flex-creator($direction: column, $justify-content: start, $align-items: start);
            hr{
                @include box-parameter($margin: 0);
                height: 1px;
                background-color: $backgorund-color;
            }
            button{
                @include button();
                @include box-parameter($margin: 10px 0);
                @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: start);
                height: auto;
                font-size: 30px;
                span{
                    font-weight: $typography-english-bold;
                }
            }
            button:hover{
                background-color: $hover-color;
            }
            .characters{
                @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: center);
                background-color: yellowgreen;
                padding: 10px;
                .characterCard{
                    @include card-especification($back-color: yellow, $color:$typography-dark-color, $border-radius:$border-radius, $width:15%);
                    @include display-flex-creator($direction: column, $justify-content: center, $align-items: center);
                    text-align: center;
                    h3{
                        margin: 0;
                    }
                }
            }
            
        } 
    }
}