.movies{
    @include box-parameter($margin: 0, $padding: 80px 30px, $width: auto);
    @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: start); 
    height: 70vh;
    aside{
        @include display-flex-creator($direction: column, $justify-content: end, $align-items: end); 
        margin-right: 30px; 
        h3{
            font-size: 30px;
            margin: 0 0 10px 0;
        }     
    }
    section{ 
        @include display-flex-creator($direction: column, $justify-content: space-between, $align-items: space-between);
        width: 100%;
        height: inherit;
        .search-section{
            @include box-parameter($margin: 0 0 30px 0);
            @include display-flex-creator($direction: row, $justify-content: end, $align-items: start);
            input{
                @include input();
            }
            button{
                @include button($back-color: $primary-color);
                i{
                    font-size: 15px;
                }
            }
            button:hover{
                background-color: $hover-color;
            }
        }
        .movie-paging{
            @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: stretch);       
            @include box-parameter($margin: 0);
            .card{
                @include card-especification($back-color: $secundary-color, $color:$typography-dark-color, $padding: 20px, $width:20%);
                transition: 5ms;
                img{
                    @include img();
                }
                h4{ 
                font-size: 20px; 
                font-weight: $typography-english-bold;
                } 
                
            }
            .card:hover{
                transform: scale(1.05);
                box-shadow: $box-shadow;

            }
            .not-found-message{
                @include display-flex-creator($direction: column, $justify-content: center, $align-items: center);   
                width: 100%;
                font-weight: $typography-english-bold;
                font-size: 20px;
                i{
                    font-size: 40px;
                }
            }
        }
        .prev-next-buttons{
            @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: center); 
            @include box-parameter($margin: 30px 0 0 0);   
            button{
                @include button($back-color: $primary-color);
                transition: 2ms;
            }
            button:hover{
                background-color: $hover-color;
            }
            select{
                @include button($back-color: #ffffff, $color: $primary-color);
            }
        }
    }
}