section{ 
    @include display-flex-creator($direction: row, $justify-content: center, $align-items: start);
    img{
        @include img($opacity: 50%, $margin-botton: 0, $width: 100%, $border-radius: 0);
    }
    .start-button{
        @include button($back-color: transparent, $color: #000000);
        font-size: 80px;
        text-decoration: none;
        position: absolute;
        bottom: 30px;
        z-index: 1;
        .position-down{
            @include display-flex-creator($direction: row, $justify-content: center, $align-items: end);
        }
        transition: 5ms;
    }
    .start-button:hover{
        transform: scale(1.3);
    }
    aside{
        width: 10%;
    }
}