header {
    img{
        position: absolute;
        top: -80px;
        left: 60px;
        z-index: 1;
        height: 600px;
    }
}
@media (max-width: 600px){
    header {
        img{
            top: 0px;
            left: 30px;
            height: 300px;
        }
    }
}