body {
  font-family: "Lato", sans-serif;
  font-weight: "300";
  background-color: #BCCBD8;
  margin: 0;
  height: 100vh;
}

span {
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
}

header img {
  position: absolute;
  top: -80px;
  left: 60px;
  z-index: 1;
  height: 600px;
}

main section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
main section img {
  width: 100%;
  opacity: 50%;
}
main section .start-button {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: none;
  font-size: 80px;
  text-decoration: none;
  position: absolute;
  bottom: 30px;
  z-index: 1;
  transition: 5ms;
}
main section .start-button .position-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
main section .start-button:hover {
  transform: scale(1.3);
}
main section aside {
  width: 10%;
}
main .movies {
  padding: 80px 40px;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
main .movies aside {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-right: 30px;
}
main .movies aside h3 {
  font-size: 30px;
  margin: 0 0 10px 0;
}
main .movies section {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
main .movies section .search-section {
  margin: 0 0 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
}
main .movies section .search-section input {
  margin-right: 10px;
  padding: 0 10px;
  height: 40px;
  width: 60%;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
}
main .movies section .search-section button {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #3E4658;
  color: #F2F2F2;
  border: none;
}
main .movies section .search-section button i {
  font-size: 15px;
}
main .movies section .search-section button:hover {
  background-color: #8c9caf;
}
main .movies section .movie-paging {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
main .movies section .movie-paging .card {
  background-color: #8594A6;
  border-radius: 10px;
  padding: 20px;
  width: 20%;
  transition: 5ms;
}
main .movies section .movie-paging .card img {
  opacity: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
main .movies section .movie-paging .card h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
main .movies section .movie-paging .card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}
main .movies section .movie-paging .not-found-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
}
main .movies section .movie-paging .not-found-message i {
  font-size: 40px;
}
main .movies section .prev-next-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 0;
  width: 100%;
}
main .movies section .prev-next-buttons button {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #3E4658;
  color: #F2F2F2;
  border: none;
}
main .movies section .prev-next-buttons button:hover {
  background-color: #8c9caf;
}
main .movies section .prev-next-buttons select {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  color: #3E4658;
  border: none;
}
main h2 {
  margin: 0;
}
main h3 {
  margin: 0;
}
main p {
  margin-bottom: 10px;
}
main .info-movie-selected {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  height: 100vh;
  background-color: #bccbd8c4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .info-movie-selected div {
  background-color: #3E4658;
  color: #F2F2F2;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .info-movie-selected div aside {
  width: 60%;
}
main .info-movie-selected div aside img {
  width: 100%;
  opacity: 100%;
  border-radius: 10px;
}
main .info-movie-selected div article {
  width: 40%;
  padding: 0 10px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
main .info-movie-selected div article div {
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .info-movie-selected div article div button {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  color: #F2F2F2;
  border: none;
  font-size: 30px;
}
main .info-movie-selected div article div button:hover {
  color: #8c9caf;
}
main .info-movie-selected div article .film-information {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
main .info-movie-selected div article .film-information section {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
main .info-movie-selected div article .rating-score {
  width: 100%;
  padding: 10px 0;
}
main .info-movie-selected div .extra-information {
  width: 100%;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
main .info-movie-selected div .extra-information hr {
  margin: 0;
  height: 1px;
  width: 100%;
  background-color: #BCCBD8;
}
main .info-movie-selected div .extra-information button {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  color: #F2F2F2;
  border: none;
  margin: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  font-size: 30px;
}
main .info-movie-selected div .extra-information button span {
  font-weight: 700;
}
main .info-movie-selected div .extra-information button:hover {
  background-color: #8c9caf;
}
main .info-movie-selected div .extra-information .characters {
  background-color: yellowgreen;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .info-movie-selected div .extra-information .characters .characterCard {
  color: #000000;
  border-radius: 10px;
  background-color: yellow;
  width: 15%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .info-movie-selected div .extra-information .characters .characterCard h3 {
  margin: 0;
}

footer {
  background-color: #3E4658;
  color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
