//variables
$backgorund-color: #BCCBD8;
$hover-color: #8c9caf;
$secundary-color: #8594A6;
$primary-color: #3E4658;
$typography-dark-color: #000000;
$typography-light-color: #F2F2F2;
$typography-english-text: 'Lato', sans-serif;
$typography-japanese-text: 'Noto Sans JP', sans-serif;
$typography-english-thin: 100;
$typography-english-normal: "300";
$typography-english-bold: 700;
$typography-japanese-thin: 100;
$typography-japanese-bold: 700;
$border-radius: 10px;
$box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

@mixin display-flex-creator($direction: row, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin button($back-color: transparent, $color: $typography-light-color){
    height: 40px;
    width: 60px;
    @include display-flex-creator();
    border-radius: $border-radius;
    background-color: $back-color;
    color: $color;
    border: none;
}

body{
    font-family: $typography-english-text;
    font-weight: $typography-english-normal;
    background-color: $backgorund-color;
    margin: 0;
    height: 100vh;
}
span{
    font-size: 15px;
    font-family: $typography-japanese-text;
    font-weight: $typography-japanese-thin;
}
header {
    img{
        position: absolute;
        top: -80px;
        left: 60px;
        z-index: 1;
        height: 600px;
    }
}
main {
    section{ 
        @include display-flex-creator($direction: row, $justify-content: center, $align-items: start);
        img{
            width: 100%;
            opacity: 50%;
        }
        .start-button{
            @include button($back-color: transparent, $color: #000000);
            font-size: 80px;
            text-decoration: none;
            position: absolute;
            bottom: 30px;
            z-index: 1;
            .position-down{
                @include display-flex-creator($direction: row, $justify-content: center, $align-items: end);
            }
            transition: 5ms;
        }
        .start-button:hover{
            transform: scale(1.3);
        }
        aside{
            width: 10%;
        }
    }

    .movies{
        padding: 80px 40px;
        @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: start); 
        aside{
            @include display-flex-creator($direction: column, $justify-content: end, $align-items: end); 
            margin-right: 30px; 
            h3{
                font-size: 30px;
                margin: 0 0 10px 0;
            }     
        }
        section{
            @include display-flex-creator($direction: column, $justify-content: start, $align-items: start);
            .search-section{
                margin: 0 0 30px 0;
                width: 100%;
                @include display-flex-creator($direction: row, $justify-content: end, $align-items: start);
                input{
                    margin-right: 10px;
                    padding: 0 10px;
                    height: 40px;
                    width: 60%;
                    border-radius: $border-radius;
                    background-color: #ffffff;
                    border: none;
                }
                button{
                    @include button($back-color: $primary-color);
                    i{
                        font-size: 15px;
                    }
                }
                button:hover{
                    background-color: $hover-color;
                }
            }
            .movie-paging{
                @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: stretch);       
                .card{
                    background-color: $secundary-color;
                    border-radius: $border-radius;
                    padding: 20px;
                    width: 20%;
                    img{
                        opacity: 100%;
                        border-radius: $border-radius;
                        margin-bottom: 10px;
                    }
                    h4{
                    margin: 0; 
                    font-size: 20px; 
                    font-weight: $typography-english-bold;
                    } 
                    transition: 5ms;
                }
                .card:hover{
                    transform: scale(1.05);
                    box-shadow: $box-shadow;

                }
            }
            .prev-next-buttons{
                @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: center);   
                margin: 30px 0 0 0;
                width: 100%;    
                button{
                    @include button($back-color: $primary-color);
                }
                button:hover{
                    background-color: $hover-color;
                }
            }
        }
    }
    h2{
        margin: 0;
    }
    h3{
        margin: 0;
    }
    p{
        margin-bottom: 10px;
    }
    .info-movie-selected{
        position:fixed;
        left: 0;
        top: 0;
        z-index: 2;
        height: 100vh;
        background-color: #bccbd8c4;
        @include display-flex-creator($direction: row, $justify-content: center, $align-items: center);
        div{  
            background-color: $primary-color;
            color: $typography-light-color;
            border-radius: $border-radius;
            padding: 10px;
            width: 80%;
            @include display-flex-creator($direction: column, $justify-content: center, $align-items: center); 
            aside{
                width: 60%;
                img{
                    width: 100%;
                    opacity: 100%;
                    border-radius: $border-radius;
                }
            } 
            article{
                width: 40%;
                padding: 0 10px 0 20px;
                @include display-flex-creator($direction: column, $justify-content: space-between, $align-items: start); 
                div{
                    margin: 0 0 10px 0;
                    padding: 0;
                    width: 100%;
                    @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: center);
                    button{
                        @include button();
                        font-size: 30px;
                    }
                    button:hover{
                        color: $hover-color;
                    }
                }
                .film-information{
                    width: 100%;
                    padding: 0;
                    @include display-flex-creator($direction: row, $justify-content: start, $align-items: start); 
                    section{
                        margin-right: 40px;
                        @include display-flex-creator($direction: column, $justify-content: start, $align-items: start); 
                    }
                }
                .rating-score{
                    width: 100%;
                    padding: 10px 0;
                }
            }
            .extra-information{
                width: 100%;
                padding: 10px 10px 0 10px;
                @include display-flex-creator($direction: column, $justify-content: start, $align-items: start);
                hr{
                    margin: 0;
                    height: 1px;
                    width: 100%;
                    background-color: $backgorund-color;
                }
                button{
                    @include button();
                    span{
                        font-weight: $typography-english-bold;
                    }
                    margin: 10px 0;
                    width: 100%;
                    height: auto;
                    @include display-flex-creator($direction: row, $justify-content: space-between, $align-items: start);
                    font-size: 30px;
                }
                button:hover{
                    background-color: $hover-color;
                }
            } 
        }
    }
}
footer{
    background-color: $primary-color;
    color: $typography-light-color;
    @include display-flex-creator($direction: column);
    height: 90px;
    width: 100%;
}

.hide{
    display: none;
}
